body{
    background: rgb(192, 21, 21);
    font-style: italic;
    color: rgb(0, 0, 0);
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

header{
    border: 2px rgb(0, 0, 0) solid;
    width: 100%;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.box1{
    width: 200px;
    height: 50px;
    border: 2px rgb(126, 52, 52) solid;
}
.li{
    font-style: initial;
    font-size: medium;
    font-style: oblique;
    margin: auto;
}

section{
    background-color: antiquewhite;
}


h2{
    background-color: rgb(120, 164, 201);
}



html{
    background-color: rgb(97, 105, 113);
}

